[run]
branch = False
omit = askbob/setup.py

[report]
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Fix shutil bug where it does not appear in coverage reports
    shutil.rmtree

    # This is tested but does not appear in coverage due to a bug
    self.buffer_queue.put(in_data)
    return (None, pyaudio.paContinue)

[html]
directory = cov_html
